mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы наших клиентов
				+e.yandex-rate
					+img('img/yandexRaiting2.png')
					+icon('rateStar')
					| 4.9 из 5
			+e.slider.swiper.defaultSwiper--js
				.swiper-wrapper
					mixin item(letter, bgColor, name, date, ...texts)
						+e.slide.swiper-slide
							+e.item
								+e.head
									+e.img-wrap(style=`--bgColor: ${bgColor}`)
										span!= letter
										//- +img('img/avatar.jpg')
									+e.text
										.h6!= name
										span!= date
								+e.content
									+e.stars
										+icon('rateStar').active
										+icon('rateStar').active
										+icon('rateStar').active
										+icon('rateStar').active
										+icon('rateStar').active
									each text in texts
										p!= text
									a(href="#") Читать отзыв на Яндекс.Карты
					+item('А', '#009FE3', 'Антон Мельников', '8 ноября 2022', 'Огромное спасибо команде проекта за помощь в&nbsp;настройках и&nbsp;предварительную консультацию. Служба поддержки на высоте.', 'Отдельно хочу отметить качество продукта, визуал бота и&nbsp;тонкости настройки, которые выгодно отличают его от&nbsp;других представленных на&nbsp;рынке.')
					+item('К', '#6F64EC', 'Кирилл Бифидел', '24 декабря 2022', 'Пока по&nbsp;нарастающей люди пользуются и&nbsp;начинают переходить в&nbsp;телеграм бота , так что + одна платформа и&nbsp;ещё такая крутая и&nbsp;простая , красавцы парни , развивайте дальше 🔥🔥🔥')
					+item('Р', '#4BB14B', 'Рано Яхина', '19 мая 2022', 'Наш ресторан очень рад, что есть такой замечательный бот ChatFood. Служба доставки организована бесплатно благодаря этому боту.', 'Служба поддержки&nbsp;&mdash; это терпеливые ребята, которые приходят на&nbsp;помощь в&nbsp;любое время. Спасибо Вам большое')
					+item('Р', '#4BB14B', 'Рано Яхина', '19 мая 2022', 'Наш ресторан очень рад, что есть такой замечательный бот ChatFood. Служба доставки организована бесплатно благодаря этому боту.', 'Служба поддержки&nbsp;&mdash; это терпеливые ребята, которые приходят на&nbsp;помощь в&nbsp;любое время. Спасибо Вам большое')
				+e.arrow-wrap
					+arrow
	// end sReviews