mixin sReasons(title, sectiontext, footer, text, isTwoBtns)
	// start sReasons
	+b.SECTION.sReasons.section#sReasons&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= title
				if sectiontext
					p!= sectiontext
			+e.row.row
				mixin item(title, text, json, customClass="col-6 col-lg-4")
					div(class=customClass)
						+e.item
							+e.img-wrap
								.img-wrap-center(data-json= json)
							//- +img('img/svg/sReasons-img-1.svg')
							h6!= title
							p!= text
				block
			if footer
				+e.footer
					if text
						+e.text Все приглашения и начисления фиксируются в личном кабинета партнера.
					if isTwoBtns 
						+e.btn-row
							+e.btn.btn.btn-primary(href='#') Зарегистрироваться
							+e.btn.btn.btn-outline-secondary(href='#') Войти в кабинет
					else
						+e.btn-inner.btn.btn-outline-secondary(href='#') Условия партнерской программы
	// end sReasons