mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row.justify-content-center
				.col-md-6.order-1.order-md-0
					+e.img-wrap
						.img-wrap-center
							video(loading preload no-controls autoplay loop playsinline muted)
								source(src="../video/headerBlock-bg-video.webm", type="video/webm")
								source(src="../video/headerBlock-bg-video.mp4", type="video/mp4")
				.col-md-6.align-self-center
					h1 Чат-бот в&nbsp;Telegram с&nbsp;приемом платежей для ресторанов
					p Создайте WebApp чат-бота за&nbsp;5&nbsp;минут и&nbsp;получайте заказы на&nbsp;доставку и&nbsp;самовывоз через популярный мессенджер Telegram
					+e.btn-wrap
						+e.btn.btn.btn-primary(href='#') Начать бесплатно
						+e.btn.btn.btn-outline-secondary(href='#') Открыть демо-бота
				.col-12
					+e.stories-wrap
						+e.inner-row.row
							mixin item(icon, text, bgColor)
								.col-auto
									+e.stories-item&attributes(attributes)(style=`--iconBgColor: ${bgColor}`)
										+e.icon-wrap
											+img(`img/${icon}`)
										p!= text
							+item('stories-icon-1.png', '1000 <br class=mobile-br> бонусных ₽<br> за регистрацию', 'linear-gradient(0deg, rgba(245, 176, 77, 0.12), rgba(245, 176, 77, 0.12))').active
							+item('stories-icon-2.png', 'Удвоим <br class=mobile-br> баланс при пополнении от 5000 ₽', 'linear-gradient(0deg, rgba(111, 100, 236, 0.12), rgba(111, 100, 236, 0.12))').active
							+item('stories-icon-3.png', 'Зарабатывайте <br> с нами', 'linear-gradient(0deg, rgba(75, 177, 75, 0.12), rgba(75, 177, 75, 0.12))')
	// end headerBlock