include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search(notFound=false)
	+b.search-block
		+e.form-wrap
			form
				input(type="text" placeholder="Поиск по ключевым словам")
				button 
					span.focus /
					span.cancel Esc
		+e.wrap(class=(notFound == true ? "--not-found" : ''))
			+e.result
				if notFound == true 
					+e.not-found Ничего не найдено, попробуйте скорректировать свой запрос.
				else
					-for (let i = 0; i < 4; i++)
						+wikiItem({
							bgc: `linear-gradient(0deg, rgba(111, 100, 236, 0.12), rgba(111, 100, 236, 0.12))`,
							img: `1`,
							step: `1 шаг`,
							title: 'Регистрация на сервисе ChatFood',
							sub: '🔥 Создание чат-бота',
						})
						+wikiItem({
							bgc: `linear-gradient(0deg, rgba(75, 177, 75, 0.12), rgba(75, 177, 75, 0.12))`,
							img: `2`,
							step: `3 шаг`,
							title: 'Создание чат-бота',
							sub: '⚙️ Настройки чат-бота',
						})
						+wikiItem({
							bgc: `linear-gradient(0deg, rgba(255, 122, 0, 0.12), rgba(255, 122, 0, 0.12))`,
							img: `3`,
							step: `1 шаг`,
							title: 'Работа с BotFather в Telegram',
							sub: '🔥 Создание чат-бота',
						})
						+wikiItem({
							bgc: `linear-gradient(0deg, rgba(0, 159, 227, 0.12), rgba(0, 159, 227, 0.12))`,
							img: `5`,
							step: `3 шаг`,
							title: 'Создание чат-бота',
							sub: '⚙️ Настройки чат-бота',
						})

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if t
				h1!= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin cookies()
	+b.cookies
		+img('img/cookie.png')
		p На нашем сайте мы <s>едим</s> используем <strong>cookie</strong> для быстрой работы сайта
		+e.close

mixin authorization(data)
	+b.authorization&attributes(attributes)
		if data.empty
		else
			+e.left-side
				+e.logo(href='/'): +img('img/svg/logo.svg')
				+e.img-wrap
					.img-wrap-center(data-json= `json/${data.json}`)
				+e.footer
					h5!= data.title
					p!= data.text
		+e.right-side
			+e.logo.d-md-none(href='/'): +img('img/svg/logo.svg')
			+e.back-btn(href='/')
				+icon('chevron-left')
				| На главную
			block

mixin changePage()
	+b.btn-change-page
		mixin changePageBtn(span, text)
			+e.item(href='#')&attributes(attributes)
				+e.content
					span!= span
					+e.text!= text
				+icon('chevron-right')
		block

mixin sideScrollTop()
	+b.scrolToTop
		+e.wrap
			+icon('chevron-up')
			| Наверх

mixin contactItem(data)
	+b.contactItem(style=`--bgColor:${data.bgc};`)
		+e.img-wrap
			+img(`img/svg/contact-${data.img}.svg`)
		if data.descr
			+e.descr!= data.descr
		if data.link
			+e.link(href=`${data.adress}` target="_blank")!= data.link
		if data.time
			+e.schedule!= data.time
		if data.btn
			+e.btn.btn.btn-outline-secondary(href=`${data.adress}` target="_blank")!= data.btn

mixin navBlock()
	+b.nav-block
		+e.content.sticky-js 
			block

mixin wikiItem(data)
	+b.wikiItem(href="#")
		//- +img(`img/wikiItem-${data.img}.jpg`)
		+e.img-wrap.skeleton
			+img(`img/wikiItem-${data.img}.jpg`, 'bg')
		+e.content
			+e.head
				+e.step!= data.step
				if data.sub
					+e.subtitle!= data.sub
				if data.badge
					.badge.bg-success!= data.badge
			+e.title!= data.title
			if data.text
				p!= data.text

mixin table()
	+b.table-tariffs
		table
			thead
				tr
					th
						.table-tariffs-item
					mixin item(title, price, badge, discount, dayPrice, perOne, otherModal)
						th
							+b.table-tariffs-item
								+e.title
									!= title
								+e.price
									!= price
									if badge
										.badge.bg-warning –10%
								if discount
									+e.discount!= discount
								if dayPrice
									+e.price-day!= dayPrice
								if perOne
									p За одного чат-бота
								+e.btn.btn.btn-success(href=(otherModal ? '#modal-tarif2' : "modal-tarif3")).link-modal-js  Выбрать

					+item(`Бесплатный`, `0 ₽`, '', 'Бесплатно навсегда')
					+item(`🔥 Старт`, `6 273 ₽`, true, `Без скидки <span>6 973 ₽</span>`, '3 440 ₽', true, true)
					+item(`😎 Стандарт`, `8 696 ₽`, true, `Без скидки <span>9 665 ₽</span>`, `3 440 ₽`, true)
					+item(`💣 Профи`, `10 634 ₽`, true, `Без скидки <span>11 819 ₽</span>`, '3 440 ₽', true)
			tbody
				tr
					td: +e.wrap
						+e.title.fw-bold
							| Количество товаров
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap до&nbsp;150
					td: +e.wrap до&nbsp;300
					td: +e.wrap до&nbsp;100
					td: +e.wrap без лимита
				tr
					td: +e.wrap 
						+e.title.fw-bold
							| Кастомизация бота
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap 
						+e.title.fw-bold
							| Точки продаж
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 1
					td: +e.wrap 1
					td: +e.wrap 1
					td: +e.wrap 1
				tr
					td: +e.wrap.fw-bold Контактная информация в боте
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Телефон, сайт, email
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Социальные сети
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Местоположение на карте
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Режим работы
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Способы оплаты заказа
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
					td: +e.wrap: +img('img/svg/corret.svg').d-md-none
				tr
					td: +e.wrap Онлайн
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Наличные
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Картой при получении
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Настройка способов получения заказа
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Доставка
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Самовывоз
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap В заведении
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Настройка способов доставки
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Бесплатная доставка
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Фиксированная стоимость доставки
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Расчет по формуле
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Минимальная сумма для бесплатной доставки
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title.fw-bold
							| Настройка управляющих пользователей
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Добавление администраторов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Разграничение ролей
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Количество управляющих пользователей
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 1
					td: +e.wrap 3
					td: +e.wrap 5
					td: +e.wrap 10
				tr
					td: +e.wrap.fw-bold Бонусная программа
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Приветственные бонусы
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Кэшбек за обратную связь
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Бонус за приглашение
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Ручное начисление бонусов
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Настройка условий оплаты бонусами
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Рассылки
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Функционал рассылки
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap
						+e.title
							| Количество рассылок
							+e.SPAN.toggle.tooltip-toggle( data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip"  data-bs-title="This top tooltip is themed via CSS variables.")
					td: +e.wrap 0
					td: +e.wrap 4
					td: +e.wrap 8
					td: +e.wrap 15
				tr
					td: +e.wrap.fw-bold Аналитика
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Количество клиентов в базе
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Сумма заказов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Количество заказов
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Активность за сегодня
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold Категории и товары
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
					td: +e.wrap
				tr
					td: +e.wrap Количество категорий
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Количество товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание категорий товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание простого товара
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Создание вриантивного товара
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Настройка дополнительных опций
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap Стоп-лист товаров
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				tr
					td: +e.wrap.fw-bold API
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/bad.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
					td: +e.wrap: +img('img/svg/corret.svg')
				