include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по ключевым словам")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if t
				h1!= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin cookies()
	+b.cookies
		+img('img/cookie.png')
		p На нашем сайте мы едим используем <strong>cookie</strong> для быстрой работы сайта
		+e.close

mixin authorization(data)
	+b.authorization&attributes(attributes)
		if data.empty
		else
			+e.left-side
				+e.logo(href='/'): +img('img/svg/logo.svg')
				+e.img-wrap
					.img-wrap-center(data-json= `json/${data.json}`)
				+e.footer
					h5!= data.title
					p!= data.text
		+e.right-side
			+e.logo.d-md-none(href='/'): +img('img/svg/logo.svg')
			+e.back-btn(href='/')
				+icon('chevron-left')
				| На главную
			block

mixin changePage()
	+b.btn-change-page
		mixin changePageBtn(span, text)
			+e.item(href='#')&attributes(attributes)
				+e.content
					span!= span
					+e.text!= text
				+icon('chevron-right')
		block

mixin sideScrollTop()
	+b.scrolToTop
		+e.wrap
			+icon('chevron-up')
			| Наверх

mixin contactItem(data)
	+b.contactItem(style=`--bgColor:${data.bgc};`)
		+e.img-wrap
			+img(`img/svg/contact-${data.img}.svg`)
		if data.descr
			+e.descr!= data.descr
		if data.link
			+e.link(href="#")!= data.link
		if data.time
			+e.schedule!= data.time
		if data.btn
			+e.btn.btn.btn-outline-secondary(href="#")!= data.btn

mixin navBlock()
	+b.nav-block
		+e.content.sticky-js 
			block

mixin wikiItem()
	+b.wikiItem
		